Source: cuboxi-firmware-wireless
Section: non-free/kernel
Priority: optional
Maintainer: unknown <unknown>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: <insert the upstream URL, if relevant>
Vcs-Git: https://github.com/mxOBS/deb-pkg_cuboxi-firmware-wireless.git
Vcs-Browser: https://github.com/mxOBS/deb-pkg_cuboxi-firmware-wireless

Package: cuboxi-firmware-wireless
Architecture: all
Depends: cuboxi-firmware-wireless-wifi-config, cuboxi-firmware-wireless-bluetooth
Description: cubox-i Wireless firmware
 Provides the required firmware files for the bcm4329
 and 4330 as contained in the Cubox-i and Hummingboard.

Package: cuboxi-firmware-wireless-wifi
Architecture: all
Description: Wifi-firmware for cubox-i and hummingboards

Package: cuboxi-firmware-wireless-wifi-config
Architecture: all
Depends: cuboxi-firmware-wireless-wifi
Description: Config-files for wifi hardware in cubox-i and hummingboards

Package: cuboxi-firmware-wireless-bluetooth
Architecture: all
Description: Bluetooth firmware for cubox-i and hummingboards
