Source: cuboxi-firmware-wireless
Section: non-free/kernel
Priority: optional
Maintainer: Josua Mayer <josua.mayer97@gmail.com>
Build-Depends: debhelper (>= 8.0.0), dpkg-dev (>= 1.16.1~)
Standards-Version: 3.9.6
Vcs-Git: https://github.com/mxOBS/deb-pkg_cuboxi-firmware-wireless.git
Vcs-Browser: https://github.com/mxOBS/deb-pkg_cuboxi-firmware-wireless

Package: cuboxi-firmware-wireless
Architecture: all
Depends:
 ${misc:Depends},
 cuboxi-firmware-wireless-wifi-config,
 cuboxi-firmware-wireless-wifi-config-ti,
 cuboxi-firmware-wireless-bluetooth,
 cuboxi-firmware-wireless-bluetooth-ti,
Description: cubox-i Wireless firmware
 Provides the required firmware files for the bcm4329
 and 4330 as contained in the Cubox-i and Hummingboard.

Package: cuboxi-firmware-wireless-wifi
Architecture: all
Depends: ${misc:Depends}
Description: Wifi-firmware for cubox-i and hummingboards
 T. O. D. O.

Package: cuboxi-firmware-wireless-wifi-config
Architecture: all
Depends:
 ${misc:Depends},
 cuboxi-firmware-wireless-wifi,
Description: Config-files for wifi hardware in cubox-i and hummingboards
 T. O. D. O.

Package: cuboxi-firmware-wireless-bluetooth
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 lsb-base (>= 3.2-14),
 init-system-helpers (>= 1.18~bpo70+1),
Description: Bluetooth firmware for cubox-i and hummingboards
 T. O. D. O.

Package: cuboxi-firmware-wireless-bluetooth-ti
Architecture: any
Depends:
 ${misc:Depends},
 lsb-base (>= 3.2-14),
 init-system-helpers (>= 1.18~bpo70+1),
Description: Bluetooth firmware for cubox-i and hummingboards
 T. O. D. O.

Package: cuboxi-firmware-wireless-wifi-ti
Architecture: all
Depends: ${misc:Depends}
Conflicts: firmware-ti-connectivity
Replaces: firmware-ti-connectivity
Description: Wifi-firmware for cubox-i and hummingboards
 T. O. D. O.

Package: cuboxi-firmware-wireless-wifi-config-ti
Architecture: all
Depends:
 ${misc:Depends},
 firmware-ti-connectivity (>= 20161130) | cuboxi-firmware-wireless-wifi-ti,
Description: Config-files for wifi hardware in cubox-i and hummingboards
 T. O. D. O.
